################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/b2sbackglassdesigner/.vs/B2SBackglassDesigner
/b2sbackglassdesigner/b2sbackglassdesigner/bin/x64/Debug
/b2sbackglassdesigner/b2sbackglassdesigner/obj/x64/Debug
